@import "~bootstrap/scss/bootstrap";
$theme-colors: () !default;

// stylelint-disable-next-line scss/dollar-variable-default

$primary: #682e68;
$secondary: #ffca0c;

$theme-colors: (
"primary":    $primary,
"secondary":  $secondary,
"success":    $success,
"info":       $info,
"warning":    $warning,
"danger":     $danger,
"light":      $light,
"dark":       $dark
);
// $enable-gradients: true;
@import "~bootstrap/scss/bootstrap";
